
html,
body {
  background: #1b1c45;
  font-family: PingFangSC-Semibold;
}

body > .container {
  background: #051840;
}

.header {
  background-color: #161638;
  color: #333;
  text-align: center;
  height: 60px;

  .content {
    width: 998px;
    position: relative;
    margin: 0 auto;
    height: 100%;

    .logo {
      width: 110px;
      height: 30px;
      position: absolute;
      left: -110px;
      top: 15px;
    }

    .nav-item.active {
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 33px;
      margin-top: 18px;
      margin-left: 50px;
      width: 80px;

      .text {
        font-family: pingfangsc-semibold;
        font-size: 16px;
        color: #fff;
        letter-spacing: 0;
        text-align: center;
      }

      .indicator {
        background-image: linear-gradient(136deg, #2bf7dd 0%, #3a8ff7 51%, #da37fa 100%);
        border-radius: 3px;
        width: 20px;
        height: 4px;
        margin-top: 7px;
      }
    }
  }
}

.module {
  position: relative;
  margin: 0 auto;
  width: 998px;
}

.main {
  background-color: #1e2049;
  color: #333;
  text-align: center;
  height: 100%;
  padding-bottom: 120px;

  .module.crumb {
    height: 60px;
    padding-top: 20px;
    background: transparent;
    text-align: left;
    //font-family: PingFangSC-Semibold ;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
  }

  .module-stat {
    .card {
      float: left;
      width: 322px;
      height: 105px;
      padding-left: 25px;
      padding-top: 25px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .label {
        font-size: 15px;
        color: #fff;
        letter-spacing: 0;
      }

      .value {
        font-size: 28px;
        color: #fff;
        letter-spacing: 0;
      }
    }

    .card-1 {
      background-image: linear-gradient(90deg, #4187ec 0%, #10bafb 100%);
      border-radius: 12px;
    }

    .card-2 {
      background-image: linear-gradient(270deg, #e877ae 0%, #7f73f1 100%);
      border-radius: 12px;
      margin-left: 16px;
    }

    .card-3 {
      background-image: linear-gradient(270deg, #2a6ffa 0%, #6617cd 100%);
      border-radius: 12px;
      margin-left: 16px;
    }
  }
}

.footer {
  background: #1b1c45;
  color: #333;
  text-align: center;
  line-height: 60px;
  height: 120px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .module {
    background: transparent;
  }
}

//.container {
//  margin: 0 auto;
//  min-height: 100vh;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  text-align: center;
//  flex-direction: column;
//}
//
//.title {
//  font-family:
//    'Quicksand',
//    'Source Sans Pro',
//    -apple-system,
//    BlinkMacSystemFont,
//    'Segoe UI',
//    Roboto,
//    'Helvetica Neue',
//    Arial,
//    sans-serif;
//  display: block;
//  font-weight: 300;
//  font-size: 100px;
//  color: #35495e;
//  letter-spacing: 1px;
//}
//
//.subtitle {
//  font-weight: 300;
//  font-size: 42px;
//  color: #526488;
//  word-spacing: 5px;
//  padding-bottom: 15px;
//}
//
//.links {
//  padding-top: 15px;
//}
