
html,
body {
  background: #1b1c45;
  font-family: PingFangSC-Semibold;
}

body > .container {
  background: #051840;
}

.el-table__empty-block{
  background: #1e2049;
}

.module {
  position: relative;
  margin: 0 auto;
  width: 998px;
}

.main {
  background-color: #1e2049;
  color: #333;
  height: 100%;
  overflow-y: scroll;

  >.crumb {
    height: 60px;
    padding-top: 20px;
    background: transparent;
    text-align: left;
    //font-family: PingFangSC-Semibold ;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    margin-top: 60px;
  }

  & > .module-stat {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    .card {
      float: left;
      flex: 0 0 33.3%;
      height: 105px;
      padding-left: 25px;
      padding-top: 25px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .label {
        font-size: 15px;
        color: #fff;
        letter-spacing: 0;
      }

      .value {
        font-size: 28px;
        color: #fff;
        letter-spacing: 0;
      }
    }

    .card-1 {
      background-image: linear-gradient(90deg, #4187ec 0%, #10bafb 100%);
      border-radius: 12px;
    }

    .card-2 {
      background-image: linear-gradient(270deg, #e877ae 0%, #7f73f1 100%);
      border-radius: 12px;
      margin-left: 16px;
    }

    .card-3 {
      background-image: linear-gradient(270deg, #2a6ffa 0%, #6617cd 100%);
      border-radius: 12px;
      margin-left: 16px;
    }
  }

  & > .module-tabs {
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: row;

    .navs {
      width: 62px;
      background: #242653;
      border-radius: 12px 0 0 12px;
      text-align: center;

      &::before {
        display: table;
        content: "";
      }

      &::after {
        display: table;
        content: "";
        clear: both;
      }

      .nav {
        width: 62px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        color: #72739a;
        letter-spacing: 0.39px;
        float: left;

        &.active {
          background: #fced3e;
          border-radius: 12px 0 0 12px;
          width: 62px;
          height: 50px;
          margin-bottom: 12px;
        }
      }
    }

    .content {
      flex: 1;
      position: relative;
      float: left;
    }
  }
}

.footer {
  background: #1b1c45;
  color: #333;
  text-align: center;
  line-height: 60px;
  height: 120px;

  .module {
    background: transparent;
  }
}
